* {
  all: unset;
  font-family: "JetBrainsMono NF", monospace;
}

.popup {
  background-color: #2e3440;
  color: #a3be8c;
  border-radius: 10px;
}

menu {
  padding: 8px 8px 8px 8px;
}

.bar, tooltip {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #2e3440;
  border-radius: 10px;
}

.right {
  border-radius: 10px;
}

.time-text {
  font-size: 16px;
}

.title-text {
  font-size: 16px;
}

.reboot-button {
  font-size: 28px;
  color: #81a1c1;
}

.sleep-button {
  font-size: 28px;
  color: #81a1c1;
}

.lock-button {
  font-size: 28px;
  color: #81a1c1;
}

.exit-button {
  font-size: 28px;
  color: #81a1c1;
}

.power-button {
  font-size: 28px;
  color: #bf616a;
}

.system-confirm {
  color: #a3be8c;
}

trough {
  border-radius: 3px;
  border-width: 1px;
  border-style: none;
  background-color: #44475a;
  min-width: 4px;
  min-height: 4px;
}

slider {
  border-radius: 0%;
  border-width: 1px;
  border-style: none;
  margin: -9px -9px -9px -9px;
  min-width: 16px;
  min-height: 16px;
  background-color: transparent;
}

highlight {
  border-radius: 3px;
  border-width: 1px;
  border-style: none;
  min-width: 6px;
  min-height: 6px;
}

.audio-icon {
  font-size: 24px;
  color: #d08770;
}

.audio-volume {
  font-size: 16px;
  color: #d08770;
}
.audio-volume trough {
  background-color: #44475a;
}
.audio-volume slider {
  background-color: transparent;
}
.audio-volume highlight {
  background-color: #d08770;
}

.mic-icon {
  font-size: 24px;
  color: #b48ead;
}

.mic-volume {
  font-size: 16px;
  color: #b48ead;
}
.mic-volume trough {
  background-color: #44475a;
}
.mic-volume slider {
  background-color: transparent;
}
.mic-volume highlight {
  background-color: #b48ead;
}

.package-outofdate {
  margin: -5px -5px -5px -5px;
  font-size: 24px;
  color: #bf616a;
}

.bt-num {
  font-size: 16px;
  color: #5e81ac;
}

.bt-label-on {
  font-size: 20px;
  color: #5e81ac;
}

.bt-label-off {
  font-size: 24px;
  color: #5e81ac;
}

.bt-label-connected {
  font-size: 28px;
  color: #5e81ac;
}

.disk-widget * {
  color: #b48ead;
  font-size: 16px;
}

.disk-util-progress {
  background-color: #44475a;
}

.vram-widget * {
  color: #d08770;
  font-size: 16px;
}

.vram-util-progress {
  background-color: #44475a;
}

.ram-widget * {
  color: #ebcb8b;
  font-size: 16px;
}

.ram-util-progress {
  background-color: #44475a;
}

.gpu-widget * {
  color: #88c0d0;
  font-size: 16px;
}

.gpu-util-progress {
  background-color: #44475a;
}

.cpu-widget * {
  color: #a3be8c;
  font-size: 16px;
}

.cpu-util-progress {
  background-color: #44475a;
}

.battery-widget * {
  color: #b48ead;
  font-size: 16px;
}

.battery-util-progress {
  background-color: #44475a;
}

.battery-charging {
  color: #d08770;
}

.battery-warning {
  color: #bf616a;
}

.network-data-text {
  color: #a3be8c;
  font-size: 16px;
}

.network-up-under {
  color: #44475a;
}

.network-up-low {
  color: #a3be8c;
}

.network-up-mid-low {
  color: #ebcb8b;
}

.network-up-mid-high {
  color: #d08770;
}

.network-up-high {
  color: #b48ead;
}

.network-up-over {
  color: #bf616a;
}

.network-down-under {
  color: #44475a;
}

.network-down-low {
  color: #a3be8c;
}

.network-down-mid-low {
  color: #ebcb8b;
}

.network-down-mid-high {
  color: #d08770;
}

.network-down-high {
  color: #b48ead;
}

.network-down-over {
  color: #bf616a;
}

.ws-dead {
  color: #44475a;
  font-size: 16px;
}

.ws-inactive {
  color: #81a1c1;
  font-size: 16px;
}

.ws-visible {
  color: #88c0d0;
  font-size: 16px;
}

.ws-current {
  color: #ebcb8b;
  font-size: 16px;
}

.ws-active {
  color: #a3be8c;
  font-size: 16px;
}

@keyframes connectanim {
  from {
    background-image: radial-gradient(circle farthest-side at center, #5e81ac 0%, transparent 0%, transparent 100%);
  }
  to {
    background-image: radial-gradient(circle farthest-side at center, #5e81ac 0%, #1793D1 100%, transparent 100%);
  }
}
@keyframes disconnectanim {
  from {
    background-image: radial-gradient(circle farthest-side at center, transparent 0%, #5e81ac 0%, #1793D1 100%);
  }
  to {
    background-image: radial-gradient(circle farthest-side at center, transparent 0%, transparent 100%, #5e81ac 100%);
  }
}
@keyframes scanonanim {
  from {
    color: #ebcb8b;
  }
  to {
    color: #a3be8c;
  }
}
@keyframes scanoffanim {
  from {
    color: #a3be8c;
  }
  to {
    color: #ebcb8b;
  }
}
.bt-bg {
  background-color: #2e3440;
  border-radius: 10px;
}

.bt-header-box {
  margin-top: 4px;
  margin-right: 8px;
  margin-left: 8px;
  font-size: 18px;
  color: #5e81ac;
}

.bt-body-box {
  margin-right: 8px;
  margin-left: 8px;
}

.bt-button {
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
  margin-top: 4px;
  font-size: 16px;
}
.bt-button.active {
  animation-name: connectanim;
  animation-duration: 50ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.bt-button.inactive {
  animation-name: disconnectanim;
  animation-duration: 50ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.bt-button.failed {
  color: #bf616a;
}

.bt-close {
  color: #bf616a;
  background-color: transparent;
  border-radius: 100%;
  padding: 0px 8px 0px 7px;
  margin: 0px 0px 0px 8px;
  font-size: 18px;
}

.bt-scan {
  color: #ebcb8b;
  background-color: transparent;
  border-radius: 100%;
  padding: 2px 11px 0px 7px;
  margin: 0px 0px 0px 10px;
  font-size: 18px;
}
.bt-scan.active {
  animation-name: scanonanim;
  animation-duration: 50ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.bt-scan.inactive {
  animation-name: scanoffanim;
  animation-duration: 50ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

/*# sourceMappingURL=style.css.map */
