* {
  font-family: JetBrainsMono NF;
  color: #e5e9f0;
  background: transparent;
}

#window {
  background: rgba(46, 52, 64, 0.8);
  margin: auto;
  padding: 10px;
  border: 3px solid #88c0d0;
  border-radius: 10px;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #2e3440;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
}

#entry:selected {
  background-color: #2e3440;
}

#text {
  margin: 2px;
}
